.container1 {
    width: 100%;
}

.container1 .flex-container .item {
    background-color: #efefef;
    border-radius: 12px;
    margin: 8px 0px;
    padding: 50px 30px;
}

.container1 .flex-container .item h3 {
    font-size: 18px;
    text-align: left;
    color: #124265;
    line-height: 48px;


}

.container1 .flex-container .item p {
    text-align: left;
    font-size: 15px;
}

.container1 .flex-container {
    margin: 83px 0px 0px 0px;
    justify-content: center;

}
